**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.git/
**/.github/
**/.idea/
**/.DS_Store
**/*.user
**/*.suo
**/*.log

src/LifeLevel.Api/appsettings.json
src/LifeLevel.Api/appsettings.Development.json
src/LifeLevel.Api/firebase-admin-key.json
**/firebase-admin-key.json

tests/
